@font-face {
  font-family: "Formative Trial";
  src: local("Formative Trial"),
    url("fonts/FormativeTrial-Regular-BF656fed9028715.otf") format("opentype");
}

@font-face {
  font-family: "Ginora Sans";
  src: local("Ginora-Sans-Regular"),
    url("fonts/Ginora-Sans-Regular.otf") format("opentype");
}

/* Prioridade de layers */
@layer reset, base, navigation, components, footer;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Formative Trial", sans-serif;
    letter-spacing: 0.02em;
  }
  html,
  body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
  }
}

/* Variáveis e cores */
@layer base {
  :root {
    --background-color: #101828;
    --text-white: #fff;
    --text-dark: #000000;
    --secondary-color: #6c757d;
    --light-bg: #ffffff;
    --secondary-font: "Ginora Sans", sans-serif;
  }
}

@layer base {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 130%;
    color: var(--text-white);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@layer navigation {
  @media (min-width: 769px) {
    .hero {
      background: url("/imgs/herodog.png") no-repeat center center/cover;
      width: 100%;
      aspect-ratio: 1.52/1;
    }
    .menu-mobile {
      display: none;
    }
    .content {
      width: 100%;
      padding: 18px 80px 0 80px;
    }
  }

  @media (max-width: 768px) {
    .hero {
      background: url("/imgs/herodog-mobile.png") no-repeat center center/cover;
      aspect-ratio: 14/25;
    }
    .menu-desktop {
      display: none;
    }

    .content {
      width: 100%;
      padding: 28px 16px 0 16px;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 700;
    font-size: 20px;
  }

  .menu-desktop {
    justify-content: space-between;
    margin-left: 50px;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  nav li {
    margin-right: 32px;
  }

  .started-btn {
    display: flex;
    border: 1px solid var(--text-white);
    border-radius: 999px;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1.5em;
    max-width: 167px;
    max-height: 60px;
    background: var(--text-white);
    color: var(--background-color);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}

@layer components {
  .hero-text {
    margin-top: 8.5em;
  }

  @media (max-width: 768px) {
    .hero-text {
      max-width: 356px;
    }
  }

  h1 p {
    padding: calc(5rem + 3vh) 2rem;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 1rem;
  }
  p {
    font-size: 14px;
  }

  @media (min-width: 769px) {
    .hero-text {
      margin-top: 161px;
    }
    .hero-text h1 {
      font-size: 48px;
      line-height: 1.1;
    }
    .hero-text p {
      font-size: 18px;
      max-width: 600px;
    }
  }
  .shop-btn {
    margin-top: 3.125em;
    display: flex;
    border: 1px solid var(--text-white);
    border-radius: 999px;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1.5em;
    gap: 0.5em;
    max-width: 167px;
    max-height: 60px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3s;
    white-space: nowrap;
  }

  .shop-btn a {
    font-size: 16px;
    font-weight: 600;
  }

  .shop-btn:hover {
    opacity: 1;
  }
}

@layer components {
  .shop {
    background-color: var(--text-white);
    color: var(--text-dark);
  }

  .top-shop {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  h2 {
    font-size: 35px;
    margin-bottom: 16px;
  }

  .head-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 999px;
    padding: 6px 12px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 2px 8px rgba(16, 24, 40, 0.05);
  }

  .search-input {
    padding: 10px 40px 10px 16px;
    border: 1px solid #f5f5f5;
    border-radius: 999px;
    background: #f5f5f5;
    font-size: 17px;
    outline: none;
  }

  .search-icon {
    fill: #101828;
    opacity: 0.38;
  }

  .shop-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .shop-container li {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
  }

  .shop-click {
    border: 1px solid transparent;
    border-radius: 8px;
    background: #101828;
    background: linear-gradient(
      -102deg,
      rgba(16, 24, 40, 1) 0%,
      rgba(35, 50, 80, 1) 100%
    );
    color: var(--text-white);
  }

  .product-card {
    flex: 1 1 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .product-card img {
    align-self: center;
    max-width: 375px;
    max-height: 447px;
    border: 2px solid transparent;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
  }

  .product-img-container {
    display: flex;
    gap: 17px;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
  }

  .view-more-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

  .view-more {
    color: #101828;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
  }

  .view-more:hover {
    color: #2d5fff;
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .product-img-container {
      flex-wrap: wrap;
    }
  }

  @media (min-width: 769px) {
    .search-input-mobile,
    .lupa {
      display: none !important;
    }

    .container-max {
      border: 0.5px solid #f5f5f5;
      padding: 40px 21px;
    }
    .products {
      margin-top: 40px;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .search-input,
    .prod-desktop,
    .view-more,
    .search-bar,
    .view-more-container {
      display: none !important;
    }
    .search-input-mobile,
    .lupa {
      display: none;
    }
    .shop-container ul {
      justify-content: space-between;
    }
    .shop-container h2 {
      font-size: 15px;
      font-weight: 500;
      padding: 0 10px;
      margin: 20px 0;
    }
    .products {
      margin-top: 20px;
    }
    .product-card img {
      max-width: 95vw;
      max-height: 426px;
    }
  }
}

@layer components {
  .services {
    background-color: var(--text-white);
    color: var(--text-dark);
    padding: 40px 16px;
  }

  .title-service {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6c757d;
    margin-bottom: 10px;
    gap: 12px;
    padding-bottom: 10px;
    padding-top: 40px;
  }

  .title-service h2 {
    margin: 0;
    font-size: 2rem;
    line-height: 1;
  }

  .title-service svg {
    display: block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }

  .services-grid a {
    border-radius: 16px;
    overflow: hidden;
    display: block;
    min-height: 180px;
  }

  .services-grid img,
  .services-grid picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .services-grid a:nth-child(5) {
    grid-row: 1 / span 2;
    grid-column: 3 / 4;
    min-height: 100%;
  }

  @media (max-width: 768px) {
    .title-service {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #6c757d;
      margin-bottom: 10px;
      gap: 12px;
      padding-bottom: 10px;
    }

    .title-service h2 {
      margin: 0;
      font-size: 20px;
      line-height: 1;
    }

    .services-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 12px;
    }
    .services-grid a {
      min-height: 120px;
    }
    .services-grid a:nth-child(5) {
      grid-column: 1 / -1;
      grid-row: auto;
      min-height: 160px;
    }
  }
  @media (min-width: 769px) {
    .services {
      padding: 70px 80px 16px 80px;
    }
  }
}

@layer components {
  .about {
    padding: 40px 16px;
    background: var(--text-white);
    color: var(--text-dark);
    font-size: 20px;
    gap: 20px;
  }

  .text-container > p {
    font-size: 21px;
    color: #101828;
  }

  .about-us-container {
    display: flex;
    justify-content: space-between;
  }

  .text-container {
    flex: 1 1 50%;
  }

  .text-container > p {
    margin-bottom: 16px;
  }

  .cat-container {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }

  .cat-container img {
    width: 100%;
    max-width: 480px;
    border-radius: 16px;
    object-fit: cover;
    aspect-ratio: 4/5;
    height: auto;
  }

  @media (max-width: 768px) {
    .text-container > p {
      font-size: 15px;
      font-weight: 400;
      color: #667085;
    }
    .cat-container {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .about {
      padding: 70px 80px 16px 80px;
    }
  }
}

@layer components {
  .blog {
    background-color: var(--text-white);
    color: var(--text-dark);
    padding: 10px 16px 0 16px;
  }

  .blog article h2 {
    border-bottom: 1px solid #eaecf0;
    padding-bottom: 15px;
    padding-top: 20px;
  }

  .blog article p {
    font-size: 15px;
    color: #667085;
    font-weight: 400;
    line-height: 160%;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .blog article h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .btn-read-more {
    border-radius: 5px;
    border: 1px solid #243961;
    background: linear-gradient(87deg, #101828 0.18%, #233250 99.39%);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 104px;
    max-height: 35px;
    white-space: nowrap;
    margin-bottom: 40px;
  }

  .btn-read-more > span {
    font-size: 15px;
    color: var(--text-white);
    padding: 10px 15px;
  }

  .video-wrapper {
    display: none;
  }

  @media (min-width: 769px) {
    .blog {
      padding: 70px 80px 16px 80px;
    }
    .blog-container {
      display: flex;
      gap: 32px;
      padding-top: 64px;
    }

    .blog-container article h2 {
      padding-bottom: 48px;
    }

    .blog-container article p {
      padding: 32px 0;
    }

    .blog-container > article,
    .blog-container > .video-wrapper {
      flex: 1 1 50%;
      min-width: 0;
      align-items: stretch;
    }

    .video-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
    }

    .desktop-video {
      width: 100%;
      height: 649px;
      object-fit: cover;
      border-radius: 12px;
      background: #000;
      display: block;
      max-width: 100%;
    }

    .custom-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.2s;
    }

    .custom-play svg {
      display: block;
      width: 64px;
      height: 64px;
    }
  }

  @layer components {
    .team {
      background-color: var(--text-white);
      color: var(--text-dark);
      padding: 40px 16px;
    }

    .title-service {
      display: flex;
      align-items: center;
    }

    .team-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      justify-items: center;
      padding-top: 20px;
    }

    .person {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .person h3 {
      font-size: 12px;
      font-weight: 600;
    }

    .person p {
      font-size: 11px;
      text-align: center;
      color: #101828;
      opacity: 0.5;
      margin-bottom: 6px;
    }

    .person img {
      width: 175px;
      max-width: 100%;
      object-fit: cover;
      display: block;
      margin: 0 auto 16px auto;
    }

    .social-media {
      display: flex;
      gap: 12px;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    @media (min-width: 769px) {
      .team {
        padding: 70px 80px 16px 80px;
      }

      .team-container {
        display: flex;
        width: 100%;
        padding: 54px 34px 0 34px;
      }

      .person {
        align-items: baseline;
      }

      .person img {
        width: fit-content;
      }

      .person h3,
      .person p {
        text-align: left;
      }

      .person h3 {
        font-size: 20px;
      }
      .person p {
        font-size: 18px;
      }

      .person ul {
        gap: 20px;
      }

      .person svg {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }
}

@layer components {
  .contact {
    background-color: var(--background-color);
  }

  .container-content {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
    gap: 42px;
  }

  .contacts {
    display: flex;
    gap: 20px;
  }
  .left-contacts {
    display: flex;
    gap: 31px;
    flex-direction: column;
  }
  .right-contacts {
    display: flex;
    gap: 31px;
    flex-direction: column;
  }
  .contact-info {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .contact-info svg {
    display: block;
    width: 16px;
    height: 16px;
  }

  .contact-info h3 {
    font-size: 13px;
    font-weight: 600;
  }
  .contact-info p {
    color: #cecece;
    font-size: 11px;
    font-weight: 400;
  }
  .contact-info h4 {
    font-size: 11px;
    font-weight: 600;
  }

  .container-form {
    background-color: var(--text-white);
    color: var(--text-dark);
    border-radius: 10.5px;
    margin-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 26.2px 21px;
    gap: 15.72px;
  }

  input {
    width: 100%;
    padding: 7.86px 10.48px;
    align-self: stretch;
    border-radius: 5.2px;
    border: 0.655px solid #d0d5dd;
    box-shadow: 0px 0.655px 1.31px 0px rgba(16, 24, 40, 0.05);
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label {
    font-size: 9.2px;
    font-weight: 500;
  }

  .name-form {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 7.86px;
  }

  .checkbox-container p {
    font-family: "Inter", sans-serif;
    color: #667085;
    font-size: 10.4px;
    font-weight: 400;
  }
  .checkbox-container a {
    font-family: "Inter", sans-serif;
    text-decoration: underline;
  }
  .politics {
    display: block;
    width: 13px;
    height: 13px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13.1px 16.3px;
    border-radius: 5.2px;
    border: 0.655px solid #243961;
    background: linear-gradient(87deg, #101828 0.18%, #233250 99.39%);
    color: var(--text-white);
    font-size: 10.4px;
    font-weight: 600;
  }

  @media (min-width: 769px) {
    .container-content {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 64px;
      padding-right: 108px;
      gap: 64px;
      align-items: center;
    }

    .container-form {
      border-radius: 16px;
      margin-bottom: 70px;
    }

    form {
      padding: 40px 32px;
      gap: 24px;
    }

    .name-form {
      gap: 32px;
    }

    label {
      font-size: 14px;
    }

    input {
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      padding: 12px 16px;
      font-size: 16px;
    }

    .textarea {
      height: 108px;
    }

    .checkbox-container {
      gap: 12px;
    }

    .checkbox-container p {
      font-size: 16px;
    }

    .politics {
      width: 20px;
      height: 20px;
    }

    button {
      font-size: 16px;
    }

    .contacts {
      gap: 32px;
    }

    .left-contacts {
      gap: 48px;
    }
    .right-contacts {
      gap: 48px;
    }

    .contacts svg {
      width: 24px;
      height: 24px;
    }

    .contact-info h3 {
      font-size: 20px;
    }
    .contact-info p {
      font-size: 16px;
    }
    .contact-info h4 {
      font-size: 16px;
    }
  }
}

@layer footer {
  footer {
    background-color: var(--background-color);
    height: fit-content;
  }

  .newsletter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .join-text h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .join-text p {
    font-size: 13px;
    color: #cecece;
    line-height: 110%;
    margin-bottom: 32px;
  }

  .subscribe {
    display: flex;
    padding: 8.832px 12.365px;
    align-items: center;
    border-radius: 7.066px;
    border: 0.883px solid #d0d5dd;
    background: #dedede;
    box-shadow: 0px 0.883px 1.766px 0px rgba(16, 24, 40, 0.05);
    color: #667085;
    font-family: "Inter", sans-serif;
    font-size: 14.131px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .newsletter button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 7.066px;
    border: 0.883px solid #d0d5dd;
    background: var(--text-white);
    box-shadow: 0px 0.883px 1.766px 0px rgba(16, 24, 40, 0.05);
    color: #344054;
    font-family: "Inter", sans-serif;
    font-size: 14.131px;
    font-weight: 600;
    margin-bottom: 80px;
  }

  .logo-footer {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    gap: 11px;
    margin-bottom: 24px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .footer-links p {
    color: #cecece;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .links {
    display: flex;
    width: 359px;
    flex-wrap: wrap;
    gap: 30px 45px;
    margin-top: 20px;
  }

  .links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 144px;
  }

  .links ul li {
    color: #cecece;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .links ul p {
    margin-bottom: 4px;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 14px;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(206, 206, 206, 0.5);
  }

  .footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-end p {
    color: #cecece;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .links-icons {
    display: flex;
    padding: 0 49.5px;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 40px;
  }

  .links-icons svg {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 769px) {
    .newsletter {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 48px;
      margin-bottom: 112px;
    }

    .join-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .join-text h3 {
      font-size: 20px;
      font-weight: 500;
    }

    .join-text p {
      color: #cecece;
      font-size: 20px;
      white-space: nowrap;
      margin: 0;
    }

    .subs-wrapper {
      display: flex;
      gap: 16px;
    }

    .subscribe {
      margin: 0;
      width: 288px;
      height: 44px;
    }

    .newsletter button {
      display: flex;
      width: 115px;
      padding: 10px 18px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid var#d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      margin-bottom: 0;
    }

    .logo-footer a {
      font-size: 20px;
    }

    .logo-footer svg {
      width: 32px;
      height: 32px;
    }

    .links {
      margin-top: 0;
      gap: 32px;
    }

    .links ul p {
      font-size: 16px;
    }

    .footer-links {
      flex-direction: row;
      gap: 64px;
      margin-bottom: 64px;
    }

    .footer-wrapper {
      display: flex;
      flex-direction: column;
    }

    .links {
      width: 100%;
      flex-wrap: nowrap;
    }

    .footer-end {
      justify-content: space-between;
      flex-direction: row;
      margin-top: 32px;
      margin-bottom: 48px;
    }
    .footer-end p {
      margin: 0;
    }
  }
}
